  <header class="header bg-primary">
    <div class="container   ">
      <h1 class="logo">
      <span class="visually-hidden">六角眼鏡</span>
       <a href="index.html" class="d-block ">
          <img src="../assets/images/logo-white.png" alt=""></a>
      </h1>
      <nav class="navbar row">
        <ul class="d-flex text-white flex-wrap">
          <li><a href="product.html">系列鏡框</a></li>
          <li><a href="store.html">門市據點</a></li>
          <li><a href="blog.html">部落格</a></li>
          <li><a href="qa.html">常見問題</a></li>
        </ul>
      </nav>
    </div>
  </header>
