.header {
  .logo {
    padding: 12px 0px;
    img {
      width: 80px;
      height: 48px;
    }
  }
  li > a {
    padding: 20px;
    &:hover {
      background-color: blue;
    }
  }
}

@media (max-width: 576px) {
  .header {
    .logo {
      width: 100%;
    }
  }
  .navbar {
    li {
      width: 50%;
      border: 1px solid #fff;
    }
    a {
      text-align: center;
    }
  }
}

.footer {
  padding-top: 48px;
  font-size: 36px;
  // padding-bottom: 32px;

  .info ul {
    margin-bottom: 28px;
  }
  .info li {
    margin-right: 48px;

    a {
      &:hover {
        color: blue;
      }
    }
  }
  @media (max-width: 768px) {
    .info li {
      margin-right: 48px;
    }
  }

  .tel,
  .mail {
    color: #fff;
    & > span:first-child {
      vertical-align: middle;
      margin-right: 20px;
    }
  }
  .social img {
    width: 47px;
    height: 48px;
    margin-left: 32px;
  }
  .Copyright {
    padding: 32px 0;
  }

  @media (max-width: 768px) {
    .social img {
      margin-left: 12px;
    }
  }
}
@media (max-width: 768px) {
  .footer {
    font-size: 16px;
    padding: 24px 0;
    span {
      font-size: 36px;
    }
  }
}
@media (max-width: 375px) {
  .footer {
    font-size: 16px;
    padding: 24px 0;
    .container {
      margin-bottom: 0px;
    }

    span {
      font-size: 16px;
    }

    .tel,
    .mail {
      & > span:first-child {
        margin-right: 0px;
      }
    }

    .social img {
      width: 24px;
      height: 24px;
      margin-left: 8px;
    }

    .info > ul {
      display: none;
    }
    .container {
      padding: 20px 0;
    }
    .Copyright {
      flex-wrap: wrap;

      ul {
        flex-direction: column;
        li {
          margin-left: 0px;

          &:first-child {
            margin: 8px 0;
          }
        }
      }
    }
  }
}
