.container {
  max-width: 1320px;
  //12*86 + 11 * 24 + 24
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
    //12*36 + 11 * 24 + 24
  }
}
@media (max-width: 375px) {
  .container {
    max-width: 372px;
    //4*69 + 3 * 24 + 24
    padding: 0 $gutter;
  }
}

.row {
  margin-left: -$gutter;
  margin-right: -$gutter;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.w-50 {
  width: 50%;
}
.bg-primary {
  background-color: #000;
}
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-direction-column {
  flex-direction: column;
}

.align-items-start {
  align-items: flex-start;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}

.d-inlineflex {
  display: inline-flex;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.text-primary {
  color: $primary-color;
}
.text-secondary {
  color: $secondary-color;
}
.text-white {
  color: #fff;
}
.bg-primary {
  background-color: $primary-color;
}
.bg-color {
  background-color: $background-color;
}

.mb-5 {
  margin-bottom: 32px;
}

.mr-6 {
  margin-right: 48px;
}
.ml-6 {
  margin-left: 48px;
}
.mb-6 {
  margin-bottom: 48px;
}

.p-5 {
  padding: 20px;
}
.py-5 {
  padding: 20px 0;
}
