.productType {
  li {
    width: 33.333%;
    border-left: 1px solid rgba(220, 220, 220, 1);
    border-right: 1px solid rgba(220, 220, 220, 1);
  }
  a {
    font-size: 32px;
    @include pad {
      font-size: 24px;
    }
    @include mobile {
      font-size: 16px;
    }
  }
  .pic {
    .item {
      height: 296px;
      width: 50%;
      background-position: center;
      background-size: cover;
    }
    .item1 {
      background-image: url(../images/product-header-3.png);
    }
    .item2 {
      background-image: url(../images/product-header-4.png);
    }
    @include mobile-larger {
      .item1 {
        background-image: url(../images/product-header-sm-3.png);
      }
      .item2 {
        background-image: url(../images/product-header-sm-4.png);
      }
    }
  }
}

.productList {
  padding-top: 80px;
  padding-bottom: 80px;
  .title {
    text-align: center;
  }
  h2 {
    font-size: 42px;
  }
  p {
    font-size: 32px;
  }
  .row {
    margin-bottom: 80px;
  }
  .bg-dark {
    background-color: rgba(95, 62, 45, 1);
  }
  .bg-red {
    background-color: rgba(183, 89, 41, 1);
  }
  .icon > span {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
  }
  .product-item {
    margin-bottom: 80px;
    @include pad {
      margin-bottom: 40px;
    }
    @include mobile-larger {
      margin-bottom: 24px;
    }
  }
}
