.storesDetail {
  padding-top: 96px;
  padding-bottom: 80px;

  select {
    width: 300px;
  }
  .card {
    // border: 1px solid rgba(0, 0, 0, 0.13);
  }
  .item {
    font-size: 20px;
  }
  .btn {
    cursor: pointer;
  }
  span {
    font-size: 20px;
  }

  .img {
    height: 100%;
  }
}
