<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
</head>

<body>

  <%- include('./layout/header.ejs') %>

    <div class="banner">
      <div class="container d-flex align-items-center justify-content-end h-100">
        <section class="text-right text-secondary">
          <h2 class="fs-2">Promise-Desert 2020 早春系列</h2>
          <p class="fs-4 font-weight-bold">看得清，才能看得遠</p>
          <button>立即購買</button>
        </section>

      </div>
    </div>
    <div class="desc">
      <div class="container text-secondary">
        <h3 class="font-weight-bold text-center mb-6">用專業的心，做專業的事</h3>
        <div class="row cardlist">
          <div class="card col-3 col-md-6 col-sm-12 text-center mb-md-6 mb-sm-8">
            <img class="mb-4" src="../assets/images/home-section2-1.png" alt="">
            <h4 class="font-weight-bold fs-1 mb-2">單一價格</h4>
            <p class="text-left text-black">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </div>
          <div class="card col-3 col-md-6 col-sm-12 text-center mb-md-6  mb-sm-8">
            <img class="mb-4" src="../assets/images/home-section2-2.png" alt="">
            <h4 class="font-weight-bold fs-1 mb-2">20 分鐘即可取件</h4>
            <p class="text-left text-black">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
          </div>
          <div class="card col-3 col-md-6 col-sm-12 text-center mb-md-6  mb-sm-8">
            <img class="mb-4" src="../assets/images/home-section2-3.png" alt="">
            <h4 class="font-weight-bold fs-1 mb-2">安心售後服務</h4>
            <p class="text-left text-black">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
          </div>
          <div class="card col-3 col-md-6 col-sm-12 text-center mb-md-6  mb-sm-8">
            <img class="mb-4" src="../assets/images/home-sectioin2-4.png" alt="">
            <h4 class="font-weight-bold fs-1 mb-2">關於鏡片</h4>
            <p class="text-left text-black">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
          </div>
        </div>
      </div>
    </div>

    <div class="product">
      <div class="container text-secondary">
        <h3 class="font-weight-bold text-center mb-12 mb-md-6">經典系列鏡框</h3>
        <div class="row cardlist">
          <div class="card col-4 col-md-12 text-center mb-md-6 mb-sm-8">
            <img class="mb-4" src="../assets/images/home-section3-1.png" alt="">
            <h4 class="font-weight-bold mb-2">OPTICAL</h4>
          </div>
          <div class="card col-4 col-md-12 text-center mb-md-6  mb-sm-8">
            <img class="mb-4" src="../assets/images/home-section3-2.png" alt="">
            <h4 class="font-weight-bold mb-2">SUNGLASSES</h4>
          </div>
          <div class="card col-4 col-md-12 text-center mb-md-6  mb-sm-8">
            <img class="mb-4" src="../assets/images/home-section3-3.png" alt="">
            <h4 class="font-weight-bold mb-2">FUNCTIONAL</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="special">
      <div class="container text-secondary">
        <h3 class="font-weight-bold text-center text-white mb-12 mb-md-6">聯名設計鏡框</h3>
        <div class="row cardlist">
          <div class="card col-6 col-md-12 text-center mb-md-6 mb-sm-8">
            <div class="item item1">
            </div>
            <h4 class="font-weight-bold mb-2 ">DOUBLE A+</h4>
          </div>
          <div class="card col-6 col-md-12 text-center mb-md-6  mb-sm-8">
            <div class="item item2">
            </div>
            <h4 class="font-weight-bold mb-2 bg-white "> YOUTH
            </h4>
          </div>

        </div>
      </div>
    </div>


    <div class="recommend">
      <div class="container ">
        <h3 class="font-weight-bold text-secondary text-center mb-6  fs-3">顧客推薦</h3>
        <div class="row cardlist">
          <div class="col-3 col-md-6 col-sm-12">
            <div class="card  mb-md-6 mb-sm-8 ">
              <img src="../assets/images/home-section5-1.png" alt="">
              <div class="p-2 flex-direction-column d-flex info">
                <p class="font-weight-medium mb-2">Jessy</p>
                <p class=" mb-auto">眼鏡品質優良，下次還會想來這邊購買！</p>
                <small>2021/06/20</small>
              </div>
            </div>
          </div>

          <div class="col-3 col-md-6 col-sm-12">
            <div class="card  mb-md-6 mb-sm-8 ">
              <img src="../assets/images/home-section5-2.png" alt="">
              <div class="p-2 flex-direction-column d-flex info">
                <p class="font-weight-medium mb-2">凱倫</p>
                <p class=" mb-auto">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                <small>2021/04/18</small>
              </div>
            </div>
          </div>
          <div class="col-3 col-md-6 col-sm-12">
            <div class="card  mb-md-6 mb-sm-8 ">
              <img src="../assets/images/home-section5-3.png" alt="">
              <div class="p-2 flex-direction-column d-flex info">
                <p class="font-weight-medium mb-2">悠悠</p>
                <p class=" mb-auto">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                <small>2020/12/25</small>
              </div>
            </div>
          </div>
          <div class="col-3 col-md-6 col-sm-12">
            <div class="card  mb-md-6 mb-sm-8 ">
              <img src="../assets/images/home-section5-4.png" alt="">
              <div class="p-2 flex-direction-column d-flex info">
                <p class="font-weight-medium mb-2">悠悠</p>
                <p class=" mb-auto">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                <small>2020/12/25</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="contactus">
      <div class="item">
        <h3 class="text-secondary fs-3 font-weight-bold text-center mb-12">聯絡我們</h3>
        <p class="mb-6">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
        <div class="mb-5">
          <label for="name">姓名</label>
          <input class="form-control" type="text" id="name" placeholder="陳小明">
        </div>
        <div class="mb-5">
          <label for="tel">聯絡電話</label>
          <input class="form-control" type="text" id="tel" placeholder="0912-345-678">
        </div>
        <div class="mb-5">
          <label for="email">電子郵件</label>
          <input class="form-control" id="email" type="email" placeholder="exaxple@email.com">
        </div>
        <div class="mb-5">
          <label for="Opinion">意見反應</label>
          <textarea class="form-control" rows="6" name="" id="Opinion" placeholder="請輸入您的意見"></textarea>
        </div>
        <div class="mb-5">
          <input type="checkbox" id="isAgree">
          <label for="isAgree">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
        </div>
        <div class="text-center">
          <!-- <button class="bg-primary text-white">確認送出</button> -->
          <input type="button" class="btn bg-primary text-white" value="確認送出">
        </div>

      </div>
    </div>
    <%- include('./layout/footer.ejs') %>


      <script type="module" src="../main.js"></script>
</body>

</html>