<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <%- include('./layout/header.ejs') %>

    <div class="productType">
      <div class="container container-fluid">
        <ul class="d-flex text-center">
          <li><a class="font-weight-medium " href="">OPTICAL</a></li>
          <li class="border-bottom-line"><a class="font-weight-medium " href="">SUNGLASSES</a></li>
          <li><a class="font-weight-medium " href="">FUNCTIONAL</a></li>
        </ul>
      </div>
      <div class="pic d-flex">
        <div class="item item1"></div>
        <div class="item item2"></div>
      </div>
    </div>


    <div class="productList">
      <div class="container">
        <section class="title mb-8">
          <h2 class="font-weight-medium ">
            2020 NEW COLLECTION
          </h2>
          <p>
            賽璐珞鈦金屬混合鏡框
          </p>
        </section>

        <div class="row">
          <div class="col-4 col-md-6 col-sm-12 product-item">
            <img src="../assets/images/product-7.png" alt="">
            <div class="d-flex justify-content-between">
              <span>
                BJ41600S
              </span>
              <span class="text-primary font-weight-medium">
                NTD3,490
              </span>
            </div>
            <div class="icon">
              <span class="bg-dark"></span>
              <span class="bg-red"></span>
            </div>
          </div>
          <div class="col-4 col-md-6 col-sm-12 product-item">
            <img src="../assets/images/product-8.png" alt="">
            <div class="d-flex justify-content-between">
              <span>
                BJ41600S
              </span>
              <span class="text-primary font-weight-medium">
                NTD3,490
              </span>
            </div>
            <div class="icon">
              <span class="bg-dark"></span>
              <span class="bg-red"></span>
            </div>
          </div>
          <div class="col-4 col-md-6 col-sm-12 product-item">
            <img src="../assets/images/product-9.png" alt="">
            <div class="d-flex justify-content-between">
              <span>
                BJ41600S
              </span>
              <span class="text-primary font-weight-medium">
                NTD3,490
              </span>
            </div>
            <div class="icon">
              <span class="bg-dark"></span>
              <span class="bg-red"></span>
            </div>
          </div>
          <div class="col-4 col-md-6 col-sm-12 product-item">
            <img src="../assets/images/product-10.png" alt="">
            <div class="d-flex justify-content-between">
              <span>
                BJ41600S
              </span>
              <span class="text-primary font-weight-medium">
                NTD3,490
              </span>
            </div>
            <div class="icon">
              <span class="bg-dark"></span>
              <span class="bg-red"></span>
            </div>
          </div>
          <div class="col-4 col-md-6 col-sm-12 product-item">
            <img src="../assets/images/product-11.png" alt="">
            <div class="d-flex justify-content-between">
              <span>
                BJ41600S
              </span>
              <span class="text-primary font-weight-medium">
                NTD3,490
              </span>
            </div>
            <div class="icon">
              <span class="bg-dark"></span>
              <span class="bg-red"></span>
            </div>
          </div>
          <div class="col-4 col-md-6 col-sm-12 product-item">
            <img src="../assets/images/product-12.png" alt="">
            <div class="d-flex justify-content-between">
              <span>
                BJ41600S
              </span>
              <span class="text-primary font-weight-medium">
                NTD3,490
              </span>
            </div>
            <div class="icon">
              <span class="bg-dark"></span>
              <span class="bg-red"></span>
            </div>
          </div>
        </div>

        <!-- pagination -->
        <%- include('./layout/pagination.ejs') %>



      </div>
    </div>

    <%- include('./layout/footer.ejs') %>
      <script type="module" src="../main.js"></script>
</body>

</html>